$lightbg: #ffffff;
$lightcolor: #ffffff;
$textcolor: #038c33;
$nav-bg: #003412;
$btn-grey: #add9bd;
$popularbg: #f9fcfe;
$date: #6c757d;
$success: #d6e9f7;
$success_text:#003412;
$instructionbg:#8fbf2614;
$inputborder:#C4C4C4;
$footer-color: #F2F2F2;
$hrcolor:#777777;
